.img-icon-alumno {
    width: 2.5rem;
    margin-right: 8px;
}

.destacado-estrella-color {
    color: orange;
}

.destacado-musica-color {
    color: #81b71a;
}

.tamano-icono {
    font-size: 20px;
}