<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Tarea 8</ion-list-header>
                    <ion-note>franco.lauer@gmail.com</ion-note>
                    <ion-menu-toggle auto-hide="false" *ngFor="let pagina of paginas; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[pagina.url]" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="pagina.icono + '-outline'" [md]="pagina.icono + '-sharp'"></ion-icon>
                            <ion-label>{{ pagina.titulo }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>